#container {
	background-color: black;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

#top {
	background-color: white;
	padding: 20px;
	margin: 20px;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
}

h2 {
	font-family: 'Slabo 27px', serif;
	font-size: 25px;
}

p {
	font-family: 'Slabo 27px', serif;
	font-size: 15px;
}


#game {
	background-color: white;
	padding: 20px;
	margin: 20px;
}

#start {
	background-color: #1AE8D0;
	padding: 20px;

}

#timer {
	background-color: grey;

}

#question {
		background-color: pink;

}

#choices {
		background-color: grey;

}

#results {
		background-color: pink;

}

#end {
	background-color: white;
	padding: 20px;
	margin: 20px;
}

.highlighted {
	opacity: .5;
}
